body {
  background-image: url('bg.png');
  background-repeat: no-repeat;
  background-size: 110% 110%;
}
h1 {
  text-align:center; font-family: arial;
}

p {
  line-height: 25%; font-family: arial; font-size: 20px; margin-left: 30px;
 
}

h2 {
  font-family: monospace;  font-size: 35px; margin-left: 30px; text-transform: uppercase;
}
.cente {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.nimg {
  border-radius: 50%;
  position: relative;
    top: -200px;
    left: -100px;
    border: 5px solid #555;

  
}
.mimg {

  position: relative;
  border-radius: 10%;
  right: -100px;
  bottom:-30px;
  border: 5px solid #555;
}

